.contentRoadmapGraph {
  float: right;
  word-break: break-word;
  padding: 20px;
  background-color: white;
  width: 96vw;
}
p.description {
  word-break: break-word;
  width: 90%;
  margin: 0 auto;
  background-color: white;
}
.roadmapGraphPbar{
  width: 40vw;
}.roadmapGraphTitle{
  margin-top: 0!important;
}
.roadmapGraphPbarCard{
  margin-top: 25px;
}
@media screen and (min-width: 1011px) {
  .centerContent {
    padding: 0px 5.5%;
  }
}

@media screen and (min-width: 651px) and (max-width: 1010px) {
  .centerContent {
    padding: 0;
  }
}

@media screen and (max-width: 650px) {
  .centerContent {
    padding: 0 1%;
  }
}
