<!-- <aside class="asideContent">Ciao</aside> -->
<div class="contentRoadmapGraph">
  <div id="cardRoadmap">
    <p class="title roadmapGraphTitle">
      Roadmap {{ title }} <mat-icon svgIcon="{{ icon }}"></mat-icon>
    </p>
    <p id="description" class="description">
      {{ description }}
    </p>
    <div class="roadmapGraphPbarCard">
      <p>Percentuale di completamento: {{ progressBarValue }}%</p>
      <p class="roadmapGraphPbar">
        <mat-progress-bar
          [color]="color"
          [mode]="mode"
          [value]="progressBarValue"
          [bufferValue]="progressBarBufferValue"
        >
        </mat-progress-bar>
      </p>
    </div>
  </div>
</div>
<div class="centerContent">
  <mat-spinner id="roadmapGraphCharging" *ngIf="showSpinner; else roadmapGraph"></mat-spinner>
  <ng-template #roadmapGraph>
    <app-line-renderer
      [dataset]="dataset"
      (viewDetails)="visualizeSkills($event)"
      (progressSpinnerEmitter)="showMatSpinner($event)"
    ></app-line-renderer>
  </ng-template>
</div>
