<!-- <aside class="asideContent">Ciao</aside> -->
<div class="contentRoadmapGraph">
  <div id="cardRoadmap">
    <p class="title roadmapGraphTitle">
      Roadmap {{ title }} <mat-icon svgIcon="{{ icon }}"></mat-icon>
    </p>
    <p id="description" class="description">
      {{ description }}
    </p>
    <div class="roadmapGraphPbarCard">
      <p>Percentuale di completamento: {{ progressBarValue }}%</p>
      <p class="roadmapGraphPbar">
        <mat-progress-bar
          [color]="color"
          [mode]="mode"
          [value]="progressBarValue"
          [bufferValue]="progressBarBufferValue"
        >
        </mat-progress-bar>
      </p>
    </div>
  </div>
  <app-backbutton style="float: left;" id="backButton"></app-backbutton>
<mat-chip-listbox style="float: right;" aria-label="Dog selection">
  <mat-chip>
    <div class="numeroChip" matChipAvatar>3</div>
    <div class="testoChip">Roadmap collegate</div>
  </mat-chip>
  <mat-chip>
    <div class="numeroChip" matChipAvatar>23
    </div>
    <div class="testoChip">Argomenti</div>
  </mat-chip>
  <mat-chip>
    <div class="numeroChip" matChipAvatar>2</div>
    <div class="testoChip">Livelli di profondità</div>
  </mat-chip>
</mat-chip-listbox>
</div>

<div class="centerContent">
  <mat-spinner id="roadmapGraphCharging" *ngIf="showSpinner; else roadmapGraph"></mat-spinner>
  <ng-template #roadmapGraph>
    <app-line-renderer
      [dataset]="dataset"
      (viewDetails)="visualizeSkills($event)"
      (progressSpinnerEmitter)="showMatSpinner($event)"
    ></app-line-renderer>
  </ng-template>
</div>
