<div
  *ngIf="parents !== null && firsthalfchilds !== null"
  width="800"
  height="600"
  id="nodesContainer"
>
  <table id="tablecontainer">
    <table class="leftTable">
      <tr *ngFor="let firstcolchild of firsthalfchilds">
        <td
          *ngIf="firstcolchild.id.includes('roadmap'); else skillsx"
          class="button-skill"
          id="childsx{{ firstcolchild.id }}"
          [routerLink]="['/mindmap/{{firstcolchild.id_db}}']"
          routerLinkActive="router-link-active"
        >
          <tr class="nodoRoadmap">
            <td
              class="badgeStatus"
              matBadge="&#8288;"
              matBadgeSize="small"
            ></td>
            <td class="nodeTitle">
              {{ firstcolchild.title }}
            </td>
          </tr>
        </td>
        <ng-template #skillsx>
          <td
            (click)="visualizeDetail(firstcolchild)"
            class="button-skill"
            id="childsx{{ firstcolchild.id }}"
          >
            <tr class="nodoRoadmap">
              <td
                class="badgeStatus"
                matBadge="&#8288;"
                matBadgeSize="small"
              ></td>
              <td class="nodeTitle">
                {{ firstcolchild.title }}
              </td>
            </tr>
          </td>
        </ng-template>
      </tr>
    </table>
    <table class="centerTable">
      <tr *ngFor="let parent of parents">
        <td
          (click)="visualizeDetail(parent)"
          class="button-skill"
          id="parent{{ parent.id }}"
        >
          <tr class="nodoRoadmap">
            <td
              class="badgeStatus"
              matBadge="&#8288;"
              matBadgeSize="small"
            ></td>
            <td class="nodeTitle">
              {{ parent.title }}
            </td>
          </tr>
        </td>
      </tr>
    </table>
    <table class="rightTable">
      <tr *ngFor="let secondhalfchild of secondhalfchilds">
        <td
          *ngIf="secondhalfchild.id.includes('roadmap'); else skilldx"
          class="button-skill"
          id="childdx{{ secondhalfchild.id }}"
          [routerLink]="['/mindmap/{{secondhalfchild.id_db}}']"
          routerLinkActive="router-link-active"
        >
          <tr class="nodoRoadmap">
            <td
              class="badgeStatus"
              matBadge="&#8288;"
              matBadgeSize="small"
            ></td>
            <td class="nodeTitle">
              {{ secondhalfchild.title }}
            </td>
          </tr>
        </td>
        <ng-template #skilldx>
          <td
            (click)="visualizeDetail(secondhalfchild)"
            class="button-skill"
            id="childdx{{ secondhalfchild.id }}"
          >
            <tr class="nodoRoadmap">
              <td
                class="badgeStatus"
                matBadge="&#8288;"
                matBadgeSize="small"
              ></td>
              <td class="nodeTitle">
                {{ secondhalfchild.title }}
              </td>
            </tr>
          </td>
        </ng-template>
      </tr>
    </table>
  </table>
</div>
<canvas id="canvasRef" #canvasRef></canvas>
