
  <div *ngIf="parents!==null && firsthalfchilds!==null" width="800" height="600">
  <table class="leftTable">
    <tr  *ngFor="let firstcolchild of firsthalfchilds">
      <td (click)="visualizeDetail(firstcolchild)" class="button-skill" id="childsx{{firstcolchild.id}}" style="background-color: aqua;">{{firstcolchild.title}}</td>
    </tr>
  </table>
  <table class="centerTable">
    <tr *ngFor="let parent of parents ">
      <td (click)="visualizeDetail(parent)" class="button-skill" id="parent{{parent.id}}">{{parent.title}}</td>
    </tr>
  </table>
  <table class="rightTable">
    <tr  *ngFor="let secondhalfchild of secondhalfchilds">
      <td (click)="visualizeDetail(secondhalfchild)" class="button-skill" id="childdx{{secondhalfchild.id}}" style="background-color: aqua;">{{secondhalfchild.title}}</td>
    </tr>
  </table>
</div>
<canvas id="canvasRef"></canvas>
