.logoToolbar{
  height: 80px !important;
}
.flex-spacer{
  flex: 1 1 auto;
}
.flex-spacer-navbutton{
  width: 5%;
}
.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 108px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  font-weight: 600;
  border-bottom: solid 1px #e0e0e0;
}
#logospan{
  margin-left: 13%;
  margin-top: 15px;
}

#appNavMenu{
  visibility: hidden;
}

/* @media screen and (max-width: 235px) {
  .toolbar{

  }
} */

@media screen and (max-width: 500px) {
  .logoToolbar {
      display: none !important;
  }
}
#appLargeNavMenu{
  margin-right: 10px;
}
@media screen and (max-width: 933px) {
  #logospan{
    margin-left: 1%;
    margin-top: 15px;
  }
  #appLargeNavMenu{
    display: none;
  }
  #appNavMenu{
    visibility: visible;
    margin-left: 50%;
  }
}
