<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.bcsoft.careergraph.mapper.ResourceTypeMapper">

    <resultMap id="resourceTypeResultMap" type="net.bcsoft.careergraph.entity.ResourceType">
        <id property="id" column="id"/>
    </resultMap>

    <select id="selectAll" resultMap="resourceTypeResultMap">
        SELECT *
        FROM resource_type
    </select>

    <select id="selectById" resultMap="resourceTypeResultMap" parameterType="net.bcsoft.careergraph.entity.ResourceType">
        SELECT *
        FROM resource_type
        WHERE id = #{id}
    </select>

    <delete id="delete" parameterType="net.bcsoft.careergraph.entity.ResourceType">
        DELETE * FROM resource_type
        WHERE id = #{id}
    </delete>

</mapper>