<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.bcsoft.careergraph.mapper.ResourceMapper">

    <resultMap id="resourceResultMap" type="net.bcsoft.careergraph.entity.Resource">
        <id property="id" column="id"/>
        <result property="stepId" column="step_id"/>
        <result property="skillId" column="skill_id"/>
        <result property="resourceTypeId" column="resource_type_id"/>
        <result property="descritpion" column="descritpion"/>
        <result property="url" column="url"/>
    </resultMap>

    <select id="selectAll" resultMap="resourceResultMap">
        SELECT * FROM resource
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO resource (step_id, skill_id, resource_type_id, description, url)
        VALUES (#{stepId}, #{skillId}, #{resourceTypeId}, #{description}, #{url})
    </insert>

    <update id="update" parameterType="net.bcsoft.careergraph.entity.Resource">
        UPDATE resource
        SET step_id = #{stepId}, skill_id = #{skillId}, resource_type_id = #{resourceTypeId}, description = #{description}, url = #{url}
        WHERE id = #{id}
    </update>

    <select id="selectById" resultMap="resourceResultMap" parameterType="net.bcsoft.careergraph.entity.Resource" >
        SELECT *
        FROM resource
        WHERE id = #{id}
    </select>

    <select id="selectByStepId" resultMap="resourceResultMap" >
        SELECT *
        FROM resource
        WHERE step_id = #{stepId}
    </select>

    <select id="selectBySkillId" resultMap="resourceResultMap">
        SELECT * FROM resource
        WHERE skill_id = #{skillId}
    </select>


    <select id="selectResourcesByStepId" resultMap="resourceResultMap">
        SELECT *
        FROM  resource
        WHERE step_id = #{stepId}
    </select>

    <delete id="delete" parameterType="net.bcsoft.careergraph.entity.Resource">
        DELETE * FROM resource
        WHERE id = #{id}
    </delete>


</mapper>