<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.bcsoft.careergraph.mapper.RoadmapLinkMapper">

    <resultMap id="roadmapLinkResultMap" type="net.bcsoft.careergraph.entity.RoadmapLink">
        <id property="id" column="id"/>
        <result property="roadmapId" column="roadmap_id"/>
        <result property="stepId" column="step_id"/>
    </resultMap>

    <select id="selectAll" resultMap="roadmapLinkResultMap">
        SELECT * FROM roadmap_link
    </select>

    <select id="selectByStepId" resultMap="roadmapLinkResultMap" parameterType="net.bcsoft.careergraph.entity.RoadmapLink">
        SELECT * FROM roadmap_link
        WHERE step_id = #{stepId}
    </select>

    <select id="selectById" resultMap="roadmapLinkResultMap" parameterType="net.bcsoft.careergraph.entity.RoadmapLink">
        SELECT * FROM roadmap_link
        WHERE id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO roadmap_link (step_id, roadmap_id)
        VALUES (#{stepId}, #{roadmapId})
    </insert>

    <update id="update" parameterType="net.bcsoft.careergraph.entity.RoadmapLink">
        UPDATE roadmap_link
        SET step_id = #{stepId}, roadmap_id = #{roadmapId}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="net.bcsoft.careergraph.entity.RoadmapLink">
        DELETE * FROM roadmap_link
        WHERE id = #{id}
    </delete>

</mapper>