<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.bcsoft.careergraph.mapper.StepSkillMapper">

    <resultMap id="stepSkillResultMap" type="net.bcsoft.careergraph.entity.StepSkill">
        <id property="id" column="id"/>
        <result property="stepId" column="step_id"/>
        <result property="skillId" column="skill_id"/>
    </resultMap>

    <select id="selectAll" resultMap="stepSkillResultMap">
        SELECT *
        FROM step_skill
    </select>

    <select id="selectById" resultMap="stepSkillResultMap" parameterType="net.bcsoft.careergraph.entity.StepSkill">
        SELECT *
        FROM step_skill
        WHERE id = #{id}
    </select>

    <select id="findBySkillId" resultMap="stepSkillResultMap" parameterType="net.bcsoft.careergraph.entity.StepSkill">
        SELECT *
        FROM step_skill
        WHERE skill_id = #{skillId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="net.bcsoft.careergraph.entity.StepSkill">
        INSERT INTO step_skill (step_id, skill_id)
        VALUES (#{stepId}, #{skillId})
    </insert>

    <update id="update" parameterType="net.bcsoft.careergraph.entity.StepSkill">
        UPDATE step_skill
        SET step_id = #{stepId}, skill_id = #{skillId}
        WHERE id = #{id}
    </update>

</mapper>