<mat-drawer  #drawer class="example-sidenav" mode="over" position="end" (closedStart)="onClosedSideNav()">
  <app-status-manager [currentState]="currentState" [states]="status" [showDropdown]="showDropdown" [menuTitle]="menuTitle"></app-status-manager>
  <button mat-icon-button class="close-button" (click)="drawer.close()">
    <mat-icon>close</mat-icon>
  </button>
  <p style="margin-top: 25px;">
    <button mat-raised-button color="primary">Testa le tue competenze
      <mat-icon svgIcon="graduation-cap-solid"></mat-icon>
    </button>
  </p>
  <p class="title commonSkill">{{skills.title}}</p>
  <h4 class="skillsDescription commonSkill">{{skills.description}}</h4>

    <ng-container *ngIf="resourceDetail.LINK!.length > 0">
      <p class="secondTitle commonSkill">Documentazione:</p>
      <li  *ngFor="let resource of resourceDetail.LINK" class="skillsLink commonSkill">
        <ng-container *ngIf="resource.description !== ''">
          <a href="{{resource.link}}" target="_blank" class="linkItem">{{ resource.description?.slice(0, 140) }}{{ (resource.description?.length ?? 0) > 140 ? '...' : '' }}
          </a>
        </ng-container>
        <ng-container *ngIf="resource.description === ''">
          <a href="{{resource.link}}" target="_blank" class="linkItem">{{ resource.link }}</a>
        </ng-container>
      </li>
    </ng-container>

    <ng-container *ngIf="resourceDetail.LINK_VIDEO!.length > 0">
      <p class="secondTitle commonSkill">Video:</p>
      <li *ngFor="let resource of resourceDetail.LINK_VIDEO" class="skillsLink commonSkill">
        <ng-container *ngIf="resource.description !== ''">
          <a href="{{resource.link}}" target="_blank" class="linkItem">{{ resource.description?.slice(0, 140) }}{{ (resource.description?.length ?? 0) > 140 ? '...' : '' }}
          </a>
        </ng-container>
        <ng-container *ngIf="resource.description === ''">
          <a href="{{resource.link}}" target="_blank" class="linkItem">{{ resource.link }}</a>
        </ng-container>
      </li>
    </ng-container>

    <ng-container *ngIf="resourceDetail.NOTE!.length > 0">
      <p class="secondTitle commonSkill">Note:</p>
      <li *ngFor="let resource of resourceDetail.NOTE" class="skillsLink commonSkill">
        <ng-container *ngIf="resource.description !== ''">
          <a href="{{resource.link}}" target="_blank" class="linkItem">{{ resource.description?.slice(0, 140) }}{{ (resource.description?.length ?? 0) > 140 ? '...' : '' }}
          </a>
        </ng-container>
      </li>
      </ng-container>
      </mat-drawer>
