<p class="title">Grafo</p>
<div class="ngx-charts" width="100%" height="100%">
  <ngx-graph *ngIf="nodes.length>0 && links.length>0"
  class="chart-container"
  [view]="[1000, 800]"
  [showMiniMap]="true"
  [curve]="curve"
  [miniMapMaxWidth]=150
  [miniMapMaxHeight]=800
  [minZoomLevel]=0.6
  [maxZoomLevel]=3
  [nodes]="nodes"
  [links]="links"
  [layoutSettings]="layoutSettings"
  [autoCenter]=false
  [draggingEnabled]=false
  [panningEnabled]=true
  [autoZoom]=true
  layout="dagre"
  [layoutSettings]=" {
    orientation: 'TB',
    marginX: 20,
    marginY: 60,
    edgePadding: 140,
    rankPadding: 80,
  }"
  >


    <ng-template #nodeTemplate let-node>
      <svg:g #defsTemplate xmlns="http://www.w3.org/2000/xhtml" width="150" height="100">
        <svg:foreignObject class="button-17" width="100" height="30" (click)="show(node)" [ngStyle]="getStyles(node)">
          <xhtml:div  xmlns="http://www.w3.org/1999/xhtml" >
            <label class="node">{{ node.data.title }}</label>
          </xhtml:div>
        </svg:foreignObject>
      </svg:g>
    </ng-template>

    <!-- <ng-template #linkTemplate let-link>
      <svg:g class="edge">
        <svg:path class="line" stroke-width="2" marker-end="url(#arrow)"></svg:path>
        <svg:text class="edge-label" text-anchor="middle">
          <textPath
            class="text-path"
            [attr.href]="'#' + link.id"
            [style.dominant-baseline]="link.dominantBaseline"
            startOffset="50%"
          >
            {{link.label}}
          </textPath>
        </svg:text>
      </svg:g>
    </ng-template> -->
  </ngx-graph>
</div>
