<div class="ngx-charts" width="100%" height="100%">
  <ngx-graph *ngIf="nodes.length>0 && links.length>0"
  class="chart-container"
  [view]="[1000, 800]"
  [showMiniMap]="true"
  [miniMapMaxWidth]=150
  [miniMapMaxHeight]=800
  [nodes]="nodes"
  [links]="links"
  [layoutSettings]="layoutSettings"
  [autoCenter]=false
  [draggingEnabled]=false
  [panningEnabled]=true
  [autoZoom]=true
  [curve]="curve"
  >
    <ng-template #nodeTemplate let-node>
      <svg:g class="organization-node" (click)="show(node)">
        <svg:rect
          [attr.width]="rectWidth"
          [attr.height]="rectHeight"
          [attr.fill]="node.data.color"
        >{{ node.data.description }}
      </svg:rect>
        <svg:text class="label" [attr.fill]="node.data.textColor">
          {{ node.data.title }}
        </svg:text>
      </svg:g>
    </ng-template>


  </ngx-graph>
</div>
