[data-initials]:before {
  background: #e0e0e0;
  color: #001D38;
  opacity: 1;
  content: attr(data-initials);
  display: inline-block;
  font-weight: 600;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  font-size: large;
  cursor: pointer;
  }
button{
  all: unset;
}
