.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  text-align: center;
  height: 70px;
  background-color: #144d83;
  color: white;
  padding: 0;
  padding-top: 1.5rem;
  margin: 0;
}
