<div class="title">{{tableOptions.title}} {{tableOptions.detailTitle}}</div>
<div *ngIf="!tableOptions.emptyData; else emptyDataDiv">
  <ng-container *ngIf="tableOptions.btnVisualize !== undefined && tableOptions.btnVisualize.canView">
    <div class="example-button-container">
      <button mat-fab color="primary" (click)="view(tableOptions.btnVisualize.id)" [routerLink]="[tableOptions.btnVisualize.routerLink]" [queryParams]="tableOptions.btnVisualize.queryParams">
        <mat-icon>device_hub</mat-icon>
      </button>
    </div>
  </ng-container>
  <div class="headDiv">

    <mat-paginator class="custom-paginator"
      [pageSizeOptions]="[5, 10, 15, 20, 50]" aria-label="Select page"
    ></mat-paginator>


    <!-- ------------------------------------------------- -->
    <!-- BUTTON di aggiunta -->
    <!-- ------------------------------------------------- -->
    <ng-container [ngSwitch]="actionButtonValue">
      <ng-container *ngSwitchCase="'admin'">
        <ng-container *ngIf="tableOptions.btnCreate.type !== 'menu'">
          <button class="actionButton" mat-raised-button (click)="addObject()">
            <mat-icon>add</mat-icon>{{tableOptions.btnCreate.title}}
          </button>
        </ng-container>
      <!-- Il tasto carica una lista di item da aggiungere, sia mentor che admin -->
      <ng-container *ngIf="tableOptions.btnCreate.type === 'menu'">
        <button mat-raised-button [cdkMenuTriggerFor]="menu" class="actionButton">
          <mat-icon>add</mat-icon>{{buttonTitle}}
          {{tableOptions.btnCreate.title}}
        </button>
        <ng-template #menu>
          <div class="mentor-menu" cdkMenu>
            <ng-container *ngFor="let item of buttonMenu">
              <button [disabled]="item.title === 'Nessun elemento da aggiungere'" class="mentor-menu-item" cdkMenuItem (click)="selectionItemButtonMenu(item)">
                {{ item.title }}
              </button>
            </ng-container>
          </div>
        </ng-template>
      </ng-container>
      </ng-container>
    </ng-container>

    <!-- ------------------------------------------------- -->
    <!-- ------------------  FINE BUTTON  ---------------- -->
    <!-- ------------------------------------------------- -->

    <!-- Inizio -- Input Field Filter tabella -->
    <mat-form-field class="filterField">
      <mat-label>Filter</mat-label>
      <input
      matInput
      id="inputFilter"
      (keyup)="applyFilter($event)"
      placeholder="Cerca"
      #input
      />
    </mat-form-field>
    <!-- Fine -- Input Field Filter tabella -->

  </div>

  <table
    mat-table
    matSort
    [dataSource]="dataSource"
    class="mat-elevation-z8 my-table"
  >
  <!-- Inizio - TABELLA -->
    <ng-container *ngFor="let column of tableOptions.tableDef">

      <!-- Inizio - Intestazione tabella -->
      <ng-container matColumnDef="{{ column.key }}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column.header }}
        </th>
      <!-- Fine - Intestazione tabella -->

        <!-- Inizio - Corpo tabella -->
        <td mat-cell *matCellDef="let element">
          <ng-container [ngSwitch]="column.key">
            <ng-container *ngSwitchCase="'visualizzazione_grafica'">
                <button type="button" class="viewButton" [routerLink]="[tableOptions.btnVisualize.routerLink]" [queryParams]="tableOptions.btnVisualize.queryParams">
                  <mat-icon>device_hub</mat-icon>
                </button>
            </ng-container>

            <ng-container *ngSwitchCase="'visualizza'">

              <div *ngIf="tableOptions.btnNavigate.canNavigate; then navigate else simpleView"></div>
              <ng-template #navigate>
                <button class="viewButton" (click)="viewer(element.id, element.title)">
                  <mat-icon>visibility</mat-icon>
                </button>
              </ng-template>

              <ng-template #simpleView>
                <button class="viewButton" (click)="visualizeRow(element)">
                  <mat-icon>visibility</mat-icon>
                </button>
              </ng-template>

            </ng-container>

            <ng-container *ngSwitchCase="'modifica'">
              <button class="modifyButton" (click)="modifyRow(element)">
                <mat-icon>edit</mat-icon>
              </button>
            </ng-container>
            <ng-container *ngSwitchCase="'cancella'">
              <button class="deleteButton" (click)="deleteRow(element.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ element[column.key] }}
            </ng-container>
          </ng-container>
        </td>
        <!-- Fine - Corpo tabella -->
      </ng-container>
    </ng-container>

    <!-- Fine - TABELLA -->

    <tr mat-header-row *matHeaderRowDef="tableOptions.displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: tableOptions.displayedColumns"
    ></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        Nessun risultato trovato per il filtro "{{ input.value }}"
      </td>
    </tr>
  </table>
</div>

<ng-template #emptyDataDiv>
  <mat-card>
    <mat-card-content>Nessuna dato trovato per "{{tableOptions.title}} {{tableOptions.detailTitle}}"</mat-card-content>
    <!-- {{title}} -->
  </mat-card>
</ng-template>


